
:root {
    --navegacion: #2196F3;
    --texcontenido1: #757575;
    --textitulos: #212121;
    --fondo1: #FFFF;
    --fondo2: #E5E5E5;
    --fondo3: #2F303A;
    --fondo4: #F5F4FA;
    
}
body {
    background-color: var(--fondo2);
    font-family: 'Roboto', sans-serif;

}

header {
    background-color: var(--fondo1);
    color: var(--textitulos);
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500; 
    width: 1600px; 
}
footer {
    background-color: var(--fondo3);
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: var(--fondo1);
    width: 1600px;
}

a {
    text-decoration: none;   
}
h1 {
    font-family: 'Roboto', sans-serif;
        font-weight: 900;
 } 
 h3 {
    font-family: 'Roboto', sans-serif;
        font-weight: 700;
 }
 h4 {
    font-family: 'Roboto', sans-serif;
     font-weight: 500;
 }
 
p {
    color: var(--texcontenido1);
    font-family: 'Roboto', sans-serif;
        font-weight: 400;
}
.logo {
    color: var(--navegacion);
}
.main-principal {
    background-color: var(--fondo3);
    margin: auto 0;
    width: 1600px;
    height: 600px;
}

.navigation { 
    height: 90px;
}
.navigation .titles:hover {
    color: var(--navegacion);    
}
.navigation-data { 
    height: 50px;
}
.information-principal {
    color: var(--textitulos);
} 
.information-principal:hover {
    color: var(--navegacion);
}
.titles-service {
    font-family: 'Roboto', sans-serif;
        font-weight: 900;
        font-size: 44px;
        color: var(--fondo1);
        margin: 0 auto;
        
}

.titles-foot:hover {
    color: var(--navegacion);
}

.titles {
    color: #212121;       
}
.titles-foot {
    color: var(--fondo1);
}
.btn {
    color: var(--textitulos);
    font-family: 'Roboto', sans-serif;
        font-weight: 500;
    cursor: pointer;  
}
.btn:hover {
    color: var(--navegacion);
}
.btn1 {
color: var(--textitulos);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    cursor: pointer;
}
.btn1:hover {
    color: var(--navegacion);
}

.logo {
font-family: 'Raleway', sans-serif;
font-weight: 700;
}
.business {
    color: var(--textitulos);
    font-family: 'Roboto', sans-serif;
        font-weight: 400; 
}
.business:hover {
    color: var(--navegacion);
}
.information-address {
    color: var(--fondo1);
}
.information-address:hover {
    color: var(--navegacion);    
} 
.information {
    color: var(--fondo1);
}
.information:hover {
    color: var(--navegacion);
}
    


